:root{
    --primario: #e8e8e8;
    --secundario: #BAB1BA;
    --tercero: #82defa;
    --cuarto: #f9ff47;
}
*{
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
body{
    margin: 1rem 0 0;
    padding: 0;
    background-color: var(--primario);
    font-family: "Manrope", sans-serif;
    
}
h1,h2{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}


p{
    font-size: 1.5rem;
}

.contenedor-first{
    display: flex;
    flex-direction: row;
    gap:1rem;
    padding: 0 3rem 0;
    margin: 0 5rem 0;
    -webkit-box-shadow: 1px -18px 49px 11px rgba(186,177,186,1);
-moz-box-shadow: 1px -18px 49px 11px rgba(186,177,186,1);
box-shadow: 1px -18px 49px 11px rgba(186,177,186,1);
border-radius: 10px;
}   

.perfil-info{
display: flex;
flex-direction: row;

}
.perfil{
    justify-content: center;
    text-align: center;
    /**
    -webkit-box-shadow: inset 0px 0px 11px 4px rgba(225,242,250,1);
    -moz-box-shadow: inset 0px 0px 11px 4px rgba(225,242,250,1);
    box-shadow: inset 0px 0px 11px 4px rgba(225,242,250,1);
    **/
    -webkit-box-shadow: inset 0px 0px 11px 4px rgba(242,249,252,1);
    -moz-box-shadow: inset 0px 0px 11px 4px rgba(242,249,252,1);
    box-shadow: inset 0px 0px 11px 4px rgba(242,249,252,1);
    border-radius: 10%;
}

.perfil-info{
    padding-left: 3rem;
}
.nombre{
    padding-right: 5rem;
}
.nombre h1{
    text-align: center;
    
}
.perfil-info #titulo-principal{
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    width: 190px;
    -webkit-box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
    -moz-box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
    box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
    
}

.parrafo-principal{
    line-height: 1.5;
}


.contacto{  
    
    margin: auto;
    width: 450px;
  
}
.contacto p{
    font-size: 12px;
}
.contacto span{
    font-weight: bold;
}


/** APARTADO  MAIN**/

.contenedor{
   margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 25rem 25rem 0px 0px;
    background: #e8e8e8;    
}
img{
    width: 100%;
  

   
}
.fotos{
   
    display: grid;
    padding: 0 1px 0;
    /**margin: 0 1rem 3rem;**/
    margin: 5rem 20rem 5rem;
    
    grid-template-columns: repeat(3 ,1fr);
    
}
.fotos img{
padding: 15px;
}



.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9{
   border-radius: 1rem;
    gap: 1px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(186,177,186,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(186,177,186,1);
    box-shadow: 0px 0px 7px 0px rgba(186,177,186,1);
}

#titulo-seccion-2{
   
    text-align: center;
    
    display: block;
    margin: 0 auto 25px;
    width: 400px;
    -webkit-box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
    -moz-box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
    box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
}
#titulo-seccion-2 h1{
    font-size: 2rem;
}
.house-types{
    padding: 10px;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: #82defa;

}       
.house-types p{
    
   text-align: justify;
    font-size: 1.5rem;
    padding: 0 2rem 0;
    font-style: italic;
    letter-spacing: 0.01em;
}
.house-types p::first-letter{
    text-transform: uppercase;
}

.mano-de-obra{
    border-right: 1px solid;
    border-left: 1px solid;
}

.prefabricada:hover,
.mano-de-obra:hover,
.completa:hover{
    background-color: #f9ff47;
    }

    .img-02{
        margin: auto;
    }





