:root{
    --primario: #e8e8e8;
    --secundario: #BAB1BA;
    --tercero: #82defa;
    --cuarto: #f9ff47;
}
*{
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
body{
    margin: 1rem 0 0;
    padding: 0;
    background-color: var(--primario);
    font-family: "Manrope", sans-serif;
    
}
h1,h2{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}


p{
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    
.contenedor-first{
    display: flex;
    flex-direction: row;
    gap:1rem;
    padding: 0 3rem 0;
    margin: 0 5rem 0;
    -webkit-box-shadow: 1px -18px 49px 11px rgba(186,177,186,1);
-moz-box-shadow: 1px -18px 49px 11px rgba(186,177,186,1);
box-shadow: 1px -18px 49px 11px rgba(186,177,186,1);
border-radius: 10px;
}   



.perfil{
    justify-content: center;
    text-align: center;
    /**
    -webkit-box-shadow: inset 0px 0px 11px 4px rgba(225,242,250,1);
    -moz-box-shadow: inset 0px 0px 11px 4px rgba(225,242,250,1);
    box-shadow: inset 0px 0px 11px 4px rgba(225,242,250,1);
    **/
    -webkit-box-shadow: inset 0px 0px 11px 4px rgba(242,249,252,1);
    -moz-box-shadow: inset 0px 0px 11px 4px rgba(242,249,252,1);
    box-shadow: inset 0px 0px 11px 4px rgba(242,249,252,1);
    border-radius: 10%;
}

.perfil-info{
    padding-left: 3rem;
}
.nombre{
    padding-right: 5rem;
}
.nombre h1{
    text-align: center;
    
}
    .perfil-info{
        display: flex;
        flex-direction: row;
        
        }
    .perfil-info #titulo-principal{
        display: block;
        margin: 0 auto;
        padding-top: 5px;
        width: 190px;
        -webkit-box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
        -moz-box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
        box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
        
    }
    .parrafo-principal{
        line-height: 1.5;
    }
    
    
    .contacto{  
        
        margin: auto;
        width: auto;
      
    }
    .contacto p{
        font-size: 12px;
    }
    .contacto span{
        font-weight: bold;
    }
}


@media (max-width: 768px) {
    .contenedor-first{
        display: flex;
        flex-direction: column;
        gap:1rem;
        padding: 1rem;
        margin: 0 1.5rem 0;
        align-items: center;
       
        -webkit-box-shadow: 1px -18px 49px 11px rgba(186,177,186,1);
    -moz-box-shadow: 1px -18px 49px 11px rgba(186,177,186,1);
    box-shadow: 1px -18px 49px 11px rgba(186,177,186,1);
    border-radius: 10px;
    }   
    
    .perfil h2{
        text-align: center;
    }

    .nombre h2{
        text-align: center;
        padding-top: 1rem;
    }
    .parrafo-principal{
        text-align: justify;
        letter-spacing: 0.05em;
        font-size: 1.5rem;
        padding: 0 1rem 0;
        line-height: 1.5;
    }
    .perfil{
        height: 250px;
        -webkit-box-shadow: inset 0px 0px 11px 4px rgba(242,249,252,1);
    -moz-box-shadow: inset 0px 0px 11px 4px rgba(242,249,252,1);
    box-shadow: inset 0px 0px 11px 4px rgba(242,249,252,1);
    border-radius: 10%;
    }
    .perfil-info{
        border-top: 1px inherit;
    }
    
    .perfil-info #titulo-principal{
        display: block;
        margin: 0 auto;
        padding-top: 5px;
        width: 190px;
        -webkit-box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
        -moz-box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
        box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
        
        /** APARTADO PERFIL LISTO**/
        /** APARTADO FOTOS**/

}

.contacto h2{
    text-align: center;
}
.contacto span{
    font-weight: bold;
}
.contacto p{
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
   




































































































    text-align: baseline;
}


}





/** APARTADO  MAIN**/
@media (min-width: 768px) {
    
.contenedor{
    margin-top: 1rem;
     padding-top: 1rem;
     padding-bottom: 1rem;
     border-radius: 25rem 25rem 0px 0px;
     background: #e8e8e8;    
    
     .fotos{
   
        display: grid;
        padding: 0 1px 0;
        /**margin: 0 1rem 3rem;**/
        margin: 5rem 20rem 5rem;
        
        grid-template-columns: repeat(3 ,1fr);
        
    }
    .fotos img{
    padding: 15px;
    }
    
    
    
    .p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9{
       border-radius: 1rem;
        gap: 1px;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(186,177,186,1);
        -moz-box-shadow: 0px 0px 7px 0px rgba(186,177,186,1);
        box-shadow: 0px 0px 7px 0px rgba(186,177,186,1);
    }
   
    
 }
}
/** MAX MQ**/
img{
    width: 100%;

}
@media (max-width: 768px) {
    .nombre h2, .contacto h2{
        font-size: 2rem;
    }
    
    
    .fotos{
   
        display: grid;
        gap: 1rem;
        padding: 1rem 1rem 0;
        /**margin: 0 1rem 3rem;**/
        margin: 1rem 2rem 1rem;
        
        grid-template-columns: repeat(3 ,1fr);
        border: 1px solid;
    }

}



#titulo-seccion-2{
   
    text-align: center;
    
    display: block;
    margin: 0 auto 25px;
    width: 400px;
    -webkit-box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
    -moz-box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
    box-shadow: 0px 7px 10px -10px rgba(125,112,125,1);
}
#titulo-seccion-2 h1{
    font-size: 2rem;
}
.house-types{
    padding: 10px;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: #82defa;

}       

@media (min-width: 768px) {
    .house-types p{
    
        text-align: justify;
         font-size: 1.5rem;
         padding: 0 2rem 0;
         font-style: italic;
         letter-spacing: 0.01em;
     }
}
@media (max-width: 768px) {
    .house-types p{
        padding: 0 5px  0 ;
    text-align: center;

    }
   
}

.house-types p::first-letter{
    text-transform: uppercase;
}

.mano-de-obra{
    border-right: 1px solid;
    border-left: 1px solid;
}

.prefabricada:hover,
.mano-de-obra:hover,
.completa:hover{
    background-color: #f9ff47;  
    }

    .img-02{
        margin: 1rem auto 0;
       
        border-color: #82defa;
        -webkit-box-shadow: 0px -2px 52px -3px rgba(130,222,250,1);
-moz-box-shadow: 0px -2px 52px -3px rgba(130,222,250,1);
box-shadow: 0px -2px 52px -3px rgba(130,222,250,1);
    }

    @media (max-width: 768px) {
        .house-types p{
            font-size: 1rem;
            
        }

    }
/** APARTADO RESPONSEVELY**/





























/**
.contenedor {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 1rem; 
    grid-template-areas: 
      "perfil nombre nombre"
      "informacion fotos fotos"
      "contacto fotos fotos"; 
  }
  .nombre { grid-area: nombre; }
  .perfil { grid-area: perfil; }
  .informacion { grid-area: informacion; }
  .contacto { grid-area: contacto; }
  .fotos { grid-area: fotos; }

.perfil{
    justify-content: center;
    text-align: center;
}


.primera-capa{
    display: grid; 
    grid-template-columns: 0.4fr 1fr ;  
  gap: 0px 0px; 
  grid-template-areas: 
    "perfil nombre nombre"
    ". . ."
    ". . .";  
}
.perfil{
    grid-area: 1/1/2/2;
    justify-self: initial;
    align-self: initial;
    text-align: center;
}
.perfil h2{
    padding: 0 6px 0;
}
.nombre{
  
    grid-area: 1/2/2/4;
    justify-self: initial;
    align-self: initial;
    
 padding-top: 17rem;
 padding-left: 3rem;
}
.primera-capa .nombre{
    -webkit-box-shadow: -2px 3px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: -2px 3px 0px 0px rgba(0,0,0,1);
    box-shadow: -2px 3px 0px 0px rgba(0,0,0,1);
}
.primera-capa .perfil{
    
}
/* primera parte*/
/**
.contenedor{
    display: grid; 
  grid-template-columns: 0.4fr 1fr ; 
  
  padding-bottom: auto;
   
  grid-template-areas: 
    "informacion-contacto fotos fotos"
    "informacion-contacto fotos fotos"
    "informacion-contacto fotos fotos"; 
}


.fotos{
    grid-area: 1/2/4/4;
    justify-self: initial;
    align-self: initial;
}
.informacion-contacto {
    grid-area: 1/1/4/2;

    justify-self: initial;
    align-self: initial;
    text-align: justify;
      
    margin: auto;
  
}
.informacion-contacto p{
    padding: 2rem 2rem  2rem;
}

.informacion-contacto h2{
    text-align: center;
   
    
}

.contacto{
   /* padding: 0 10rem 0;*/
   /**
margin: 0 10rem 0;
-webkit-box-shadow: inset 0px 0px 20px 4px rgba(224,219,213,1);
-moz-box-shadow: inset 0px 0px 20px 4px rgba(224,219,213,1);
box-shadow: inset 0px 0px 20px 4px rgba(224,219,213,1);

}
.contacto p{
    font-size: 1rem;
    padding: 1rem 0.5rem 1rem;
    text-align: justify;
}
.contacto span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 90%;
}
.image{
   margin: auto;
  
   padding: 3px 8rem 3px;
    
    -webkit-box-shadow: -6px -4px 0px -4px rgba(0,0,0,1);
-moz-box-shadow: -6px -4px 0px -4px rgba(0,0,0,1);
box-shadow: -6px -4px 0px -4px rgba(0,0,0,1);
}
**/